html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif;
    background: #461f1f;
    color: white;
}

:root {
    --color-primary: #A91919;
    --color-primary-dark: #590808;
}

::selection {
    background-color: var(--color-primary);
    color: #fff;
}


.rating-and-review,
.abu-dhabo-visit,
.how-it-works {
    background: linear-gradient(to bottom right,
            rgba(31, 26, 26, 0.9),
            rgba(71, 31, 31, 0.9));
}

.whatsapp-blink {
    display: inline-block;
    animation: fadeUpBlink 1.8s ease-in-out infinite;
    -webkit-animation: fadeUpBlink 1.8s ease-in-out infinite;
    will-change: transform, opacity;
}

/* Standard keyframes */
@keyframes fadeUpBlink {
    0% {
        opacity: 0.3;
        transform: translateY(5px);
    }

    50% {
        opacity: 1;
        transform: translateY(-5px);
    }

    100% {
        opacity: 0.3;
        transform: translateY(5px);
    }
}

/* Safari-prefixed keyframes */
@-webkit-keyframes fadeUpBlink {
    0% {
        opacity: 0.3;
        transform: translateY(5px);
    }

    50% {
        opacity: 1;
        transform: translateY(-5px);
    }

    100% {
        opacity: 0.3;
        transform: translateY(5px);
    }
}


.swiper-button-next::after,
.swiper-button-prev::after {
    display: none;
}


.swiper-button-next,
.swiper-button-prev {
    width: 48px !important;
    height: 48px !important;
}

/* .swiper-pagination-bullet {
    width: 30px;
    height: 4px;
    border-radius: 4px;
    background: black;
    opacity: 1;
    margin: 0 4px !important;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
}

/* active bullet */
.swiper-pagination-bullet-active {
    background: #fff;
    box-shadow: inset 0 2px 6px rgba(0, 0, 0, 0.4);
}

*/
/* .swiper-button-prev,
.swiper-button-next {
    width: auto !important;
    height: auto !important;
}

.swiper-container {
    overflow: visible !important;
} */
/* Chrome, Edge, Safari */

.thin-border {
    border: 0.5px solid white !important;
}

.sub-title {
    font-weight: 350;
    font-size: 2.9rem;
    line-height: normal;
}

.book-now-btn {
    display: inline-flex;
    align-items: center;
    justify-content: end;
    gap: 2rem;
    padding: 6px 16px;
    width: fit-content;
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-radius: 8px;
    color: #fff;
    background: linear-gradient(to right, rgba(255, 255, 255, 0.35), rgba(255, 255, 255, 0.03));
    backdrop-filter: blur(8px);
    font-size: 1.5rem;
    transition: all ease 0.3s;

    &:hover {
        background: linear-gradient(to right, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.02));
        color: var(--color-primary);

        .arrow-default {
            display: none;
        }

        .arrow-hover {
            display: block;
        }
    }
}

.slider-book-now-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 4px;
    width: 150px;
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-radius: 8px;
    color: #fff;
    background: var(--color-primary);
    /* background: linear-gradient(to right, rgba(255, 255, 255, 0.35), rgba(255, 255, 255, 0.03)); */
    /* backdrop-filter: blur(8px); */
    font-size: 0.97rem;
    transition: all ease 0.3s;
}

.know-more {

    span,
    img {
        transition: all ease 0.3s;
    }

    &:hover {
        span {
            font-weight: 300;
        }

        .arrow-default {
            display: none;
        }

        .arrow-hover {
            display: block;
        }
    }
}

.popup {
    .required-input {
        input::placeholder {
            font-size: 17px;
            font-weight: 600;
            color: white;
        }
    }
}

header {
    transition: all ease 0.3s;

    .logo-img {
        width: 90px;
    }
}

.pricing {
    .pricing-card {
        max-width: 400px;
        height: auto;
        background: linear-gradient(to top,
                rgba(0, 0, 0, 0.4),
                rgba(67, 4, 8, 0.9));
        backdrop-filter: blur(2px);
        border-radius: 16px;
        border: 1px solid rgba(255, 255, 255, 0.6);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 1rem;
        transition: all ease 0.4s;

        .top-section {
            padding-top: 26px;
            padding-left: 38px;
            padding-right: 38px
        }

        .bottom-section {
            padding-bottom: 26px;
            padding-left: 20px;
            padding-right: 20px;
        }

        &:hover {
            background:
                linear-gradient(184.31deg, rgba(65, 12, 14, 0.94) -75.06%, rgba(110, 20, 24, 0.966538) -13.22%, rgba(131, 8, 14, 0.977789) 11.19%, rgba(156, 0, 8, 0.985) 38.73%, rgba(188, 0, 10, 0.991923) 65.98%, #FF212D 97.43%),
                url('/assets/images/test-bg.png');
            background-size: cover;
            box-shadow:
                0 0 10px var(--color-primary),
                0 0 20px var(--color-primary),
                0 0 40px var(--color-primary),
                0 0 56px var(--color-primary);

        }
    }
}


.our-fleets {
    .slider-container {
        .slider-card {
            border: 1px solid rgba(255, 255, 255, 0.6) !important;
            transition: all ease 0.4s;

            &:hover {
                background: var(--color-primary);
                box-shadow:
                    0 0 10px var(--color-primary),
                    0 0 20px var(--color-primary),
                    0 0 40px var(--color-primary),
                    0 0 56px var(--color-primary);
            }
        }
    }
}

/* WAY TO APPLY */
.how-it-works {
    .booking-process {
        .step-card {
            background: linear-gradient(to bottom,
                    rgba(65, 12, 14, 0.94),
                    rgba(42, 43, 45, 0.24)) !important;
        }
    }
}

.curve-line {
    height: 100%;
    /* bottom: -12px; */
    position: absolute;
    z-index: 49;
}



.curve-top-u {
    right: -9.5px;
    /* was left */
    top: -8.5px;
    border-left: 3px solid #ff0000;
    /* was border-right */
    border-top: 3px solid #ff0000;
    border-right: 3px solid #ff0000;
    /* was border-left */
    border-top-right-radius: 20px;
    /* swapped */
    border-top-left-radius: 20px;
}

.curve-bottom-u {
    bottom: -8.5px;
    right: -9.5px;
    /* was left */
    border-left: 3px solid #ff0000;
    /* swapped */
    border-bottom: 3px solid #ff0000;
    border-bottom-left-radius: 20px;
    /* swapped */
    border-bottom-right-radius: 20px;
    border-right: 3px solid #ff0000;
}

.curve-bottom-right {
    right: -9.5px;
    /* was left */
    bottom: -8.5px;
    border-left: 3px solid #ff0000;
    /* swapped */
    border-bottom: 3px solid #ff0000;
    border-bottom-left-radius: 20px;
    /* swapped */
    border-bottom-right-radius: 20px;
}

.curve-left-bottom {
    right: -9.5px;
    /* was left */
    bottom: -8.5px;
    border-right: 3px solid #ff0000;
    /* swapped */
    border-bottom: 3px solid #ff0000;
    border-bottom-right-radius: 20px;
    /* swapped */
    border-bottom-left-radius: 20px;
}

/* OUR SERVICES */
.our-services {
    .key-offerings {
        .slider-img {
            width: 100%;
            height: 400px;
            object-fit: cover;
        }

        .book-now {
            transition: all ease 0.3s;

            &:hover {
                .arrow-default {
                    display: none;
                }

                .arrow-hover {
                    display: block;
                }
            }
        }
    }
}


/* responsive styles */

@media screen and (min-width: 2500px) {
    section {
        .content {
            max-width: 1800px;
            margin: 0 auto;
        }
    }

    .navigation-buttons,
    .footerContent {
        max-width: 1800px;
        margin: 0 auto;
    }

    .header-content {
        max-width: 1800px;
        margin: 0 auto;
    }

    .overview-container-content {
        margin: 0 0;
    }

    .abu-dhabo-visit {
        min-height: 30vh;
    }

    .beyond-transportation {
        min-height: 62vh;
    }

    .rating-and-review {
        min-height: 55vh;
    }

    .key-offerings-absolute {
        width: 90%;
    }
}



@media screen and (min-width: 2000px) {
    .overview h1 {
        font-size: 4.5rem;
        /* or try clamp() */
    }

    .overview h3 {
        font-size: 2.5rem;
    }

    .book-now-btn {
        transform: scale(1.3);
    }

    .overview .container {
        max-width: 85%;
        /* give more width to content */
    }

    section {
        background-size: top-center;
    }
}

@media screen and (max-width: 1500px) {
    .curve-line {
        display: none;
    }
}


@media screen and (max-width: 1468px) {
    .sub-title {
        font-weight: 350;
        font-size: 2.9rem;
        line-height: normal;
    }
}


@media screen and (max-width: 1155px) {
    .sub-title {
        font-weight: 350;
        font-size: 2.7rem;
        line-height: normal;
    }

    header {
        .nav-items {
            .nav-item {
                font-size: 0.87rem !important;
            }
        }

        .header-button {
            padding: 8px 10px !important;
            font-size: 0.9rem !important;
        }
    }
}


@media screen and (max-width: 1025px) {
    .sub-title {
        span {
            margin: 0 !important;
        }
    }

    .pricing {
        .pricing-card {
            flex: 1 1 45%;
            max-width: 45%;
            height: auto;
            background: linear-gradient(to top,
                    rgba(0, 0, 0, 0.4),
                    rgba(67, 4, 8, 0.9));
            backdrop-filter: blur(2px);
            border-radius: 16px;
            border: 1px solid rgba(255, 255, 255, 0.6);
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: 1rem;

            .top-section {
                padding-top: 26px;
                padding-left: 38px;
                padding-right: 38px
            }

            .bottom-section {
                padding-bottom: 26px;
                padding-left: 20px;
                padding-right: 20px;
            }

            &:hover {
                background: linear-gradient(to top,
                        rgba(0, 0, 0, 0.4),
                        rgba(67, 4, 8, 0.9));

            }
        }
    }

    .beyond-transportation {
        min-height: 62vh !important;
    }

    .booking-and-confirmation {
        min-height: 70vh !important;
    }

    footer {
        .footer-bottom-img {
            height: 90px;
        }
    }
}

@media screen and (min-width: 1023px) and (max-width: 1025px) and (min-height: 500px) and (max-height: 670px) {
    .popup {
        padding-top: 7rem;
        z-index: 200;
    }

    .popup #popup-container {
        margin-top: 40px;
    }
}



@media screen and (max-width: 991px) {
    .sub-title {
        font-weight: 350;
        font-size: 2.9rem;
        line-height: normal;
    }

    .swiper-button-next,
    .swiper-button-prev {
        width: 40px !important;
        height: 40px !important;
    }
}

@media screen and (max-width: 768px) {
    .sub-title {
        font-weight: 350;
        font-size: 2rem;
        line-height: 1.1;
    }

    .swiper-button-next,
    .swiper-button-prev {
        width: 38px !important;
        height: 38px !important;
    }

    .book-now-btn {
        display: inline-flex;
        align-items: center;
        justify-content: end;
        gap: 1rem;
        padding: 1.5px 3px;
        width: fit-content;
        border: 1px solid rgba(255, 255, 255, 0.4);
        border-radius: 8px;
        color: #fff;
        background: linear-gradient(to right, rgba(255, 255, 255, 0.35), rgba(255, 255, 255, 0.03));
        backdrop-filter: blur(8px);
        font-size: 1.1rem;
        transition: all ease 0.3s;

        &:hover {
            background: linear-gradient(to right, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.02));
            color: var(--color-primary);

            .arrow-default {
                display: none;
            }

            .arrow-hover {
                display: block;
            }
        }

        img {
            width: 24px;
        }
    }

    .our-fleets {
        .slider-container {
            .slider-card {
                border: 1px solid rgba(255, 255, 255, 0.6) !important;
                transition: all ease 0.4s;

                &:hover {
                    background: rgba(255, 255, 255, 0.4)
                }
            }
        }

    }

    .pricing {
        .pricing-card {
            &:hover {
                background: linear-gradient(to top,
                        rgba(0, 0, 0, 0.4),
                        rgba(67, 4, 8, 0.9));

            }
        }
    }

}

@media screen and ((min-width: 450px) and (max-width: 767px)) {
    .pricing {
        .pricing-card {
            max-width: 900px;
        }
    }
}

@media screen and (max-width: 450px) {

    .pricing {
        .pricing-card {
            max-width: 400px;
            height: auto;
            background: linear-gradient(to top,
                    rgba(0, 0, 0, 0.4),
                    rgba(67, 4, 8, 0.9));
            backdrop-filter: blur(2px);
            border-radius: 16px;
            border: 1px solid rgba(255, 255, 255, 0.6);
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: 1rem;

            .top-section {
                padding-top: 26px;
                padding-left: 38px;
                padding-right: 38px
            }

            .bottom-section {
                padding-bottom: 26px;
                padding-left: 20px;
                padding-right: 20px;
            }

            &:hover {
                background: linear-gradient(to top,
                        rgba(0, 0, 0, 0.4),
                        rgba(67, 4, 8, 0.9));

            }
        }
    }

    .book-now-btn {
        display: inline-flex;
        align-items: center;
        justify-content: end;
        gap: 1rem;
        padding: 4.5px 2.4px;
        width: fit-content;
        border: 1px solid rgba(255, 255, 255, 0.4);
        border-radius: 8px;
        color: #fff;
        background: linear-gradient(to right, rgba(255, 255, 255, 0.35), rgba(255, 255, 255, 0.03));
        backdrop-filter: blur(8px);
        font-size: 1.1rem;
        transition: all ease 0.3s;

        img {
            width: 24px;
        }
    }


    .sub-title {
        font-weight: 350;
        font-size: 1.7rem;
    }
}

@media screen and (max-width: 400px) {
    .sub-title {
        font-weight: 350;
        font-size: 1.7rem;
    }

    .swiper-button-next,
    .swiper-button-prev {
        width: 36px !important;
        height: 36px !important;
    }



}

@media screen and (max-width: 350px) {
    .footerMobileContentBelow {
        flex-direction: column !important;
    }
}